<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./src/index.css" />
    <title>Page 8</title>
  </head>
  <body class="bg-[#AB2706] flex justify-center items-center h-screen gap-30">
    <div class="relative">
      <img class="absolute" src="./src/storage/img/page8-2.png" alt="img2">
      <img class="absolute bottom-0 right-0 " src="./src/storage/img/page8-3.png" alt="img3">
      <img class="absolute" src="./src/storage/img/page8-1.png" alt="img1">
      <img class="bottom-0 w-full h-full" src="./src/storage/img/page8-4.png" alt="img4">
      
    </div>
    <div>
      <h1 class="text-8xl pb-7 font-[WorkSans-Bold] text-white">Take your <br> designs to <br> the next <br> level</h1>
      <p class="text-[20px] pb-6 font-[WorkSans-Light] text-white">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu.</p>
      <button class="bg-[#E5B94B] text-black px-6 py-1 rounded-full hover:bg-yellow-800 transition-all appearance-none w-40 h-15">
        Explore
      </button>
    </div>

  </body>
</html>
