<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./src/index.css">
    <title>Page 10</title>
  </head>
  <body class="bg-[#2F2F2F] flex justify-center items-center gap-10">
    <div>
      <div class="flex flex-col gap-y-8">
        <h1 class="text-[#FEC3C7] text-7xl font-[Poppins-Bold]">Design.</h1>
        <h1 class="text-[#9AD7F3] text-7xl font-[Poppins-Bold]" >Create.</h1>
        <h1 class="text-[#6BDFDA] text-7xl font-[Poppins-Bold]">Inspire.</h1>
      </div>
      <div class="flex flex-col  pt-8">
        <p class="pb-4 text-white font-[Poppins-Regular] text-2xl">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. Faucibus <br> in libero risus semper habitant arcu <br> eget. Et integer facilisi eget.</p>
        <button class="bg-white text-black px-6 py-1 rounded-full hover:bg-gray-800 transition-all appearance-none w-30 h-12">
          Explore
        </button>
      </div>
    </div>
    <div class="flex justify-center items-center h-screen gap-4">
      <div class="grid  gap-2">
        <img src="./src/storage/img/page10-1.png" alt="1">
        <img src="./src/storage/img/page10-2.png" alt="2">
        <img src="./src/storage/img/page10-3.png" alt="3">
        <img src="./src/storage/img/page10-4.png" alt="4">
      </div>
      <div  class="grid gap-2">
        <img src="./src/storage/img/page10-5.png" alt="5">
        <img src="./src/storage/img/page10-6.png" alt="6">
        <img src="./src/storage/img/page10-7.png" alt="7">
        <img src="./src/storage/img/page10-8.png" alt="8">
      </div>
      <div class="grid gap-2">
        <img src="./src/storage/img/page10-9.png" alt="9">
        <img src="./src/storage/img/page10-10.png" alt="10">
        <img src="./src/storage/img/page10-11.png" alt="11">
        <img src="./src/storage/img/page10-12.png" alt="12">
      </div>
      <div class="grid gap-2">
        <img src="./src/storage/img/page10-13.png" alt="13">
        <img src="./src/storage/img/page10-14.png" alt="14">
        <img src="./src/storage/img/page10-15.png" alt="15">
        <img src="./src/storage/img/page10-16.png" alt="16">

      </div>
    </div>

  </body>
</html>
