<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/index.css" />
    <title>Page 3</title>
  </head>
  <body >
    <div class="flex justify-between mx-20 my-3">
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-2.html">Return</a>
      </div>
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-4.html">Next</a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center min-h-screen">
      <div class="grid grid-cols-2  pl-1">
        <h1 class="text-7xl font-[Montserrat-Bold]">Just that simple</h1>
        <div class="pl-50">
          <p class="text-left text-1xl font-[Montserrat-Regular] pb-3">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu eget.</p>
          <button class="bg-black text-white px-6 py-1 rounded-lg hover:bg-gray-800 transition-all appearance-none w-35 h-10">
            Get Started
          </button>
        </div>
      </div>
      <img class="w-[1500px] h-[800px] pt-30" src="/src/storage/img/page3-1.png " alt="img1">
    </div>
  </body>
</html>
