<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/src/index.css">
    <title>Page 7</title>
  </head>
  <body >
    <div class="flex justify-between mx-20 my-3">
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-5.html">Return</a>
      </div>
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-8.html">Next</a>
      </div>
    </div>
    <div class="px-5 py-20 flex flex-col justify-center items-center">
      <div class="pb-12 w-[1300px] px-5 flex justify-start">
        <h1 class="font-[Montserrat-Bold] text-7xl text-left">Design is the way how <br> you express the feelings</h1>
      </div>
      <div class="flex gap-5">
        <div>
          <h1 class="text-5xl pb-4 text-gray-400">01</h1>
          <p class="text-[20px] pb-5 font-[Montserrat-Regular]">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          <img src="/src/storage/img/page7-1.png" alt="img1">
        </div>
        <div>
          <h1 class="text-5xl pb-4 text-gray-400">02</h1>
          <p class="text-[20px] pb-5 font-[Montserrat-Regular]">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          <img src="/src/storage/img/page7-2.png" alt="img2">
        </div>
        <div>
          <h1 class="text-5xl pb-4 text-gray-400">03</h1>
          <p class="text-[20px] pb-5 font-[Montserrat-Regular]">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          <img src="/src/storage/img/page7-3.png" alt="im3">
        </div>
        <div>
          <h1 class="text-5xl pb-4 text-gray-400">04</h1>
          <p class="text-[20px] pb-5 font-[Montserrat-Regular]">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
          <img src="/src/storage/img/page7-4.png" alt="img4">
        </div>
      </div>
    </div>
    
  </body>
</html>
