<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page 4</title>
    <link rel="stylesheet" href="/src/index.css">
  </head>
  <body>
    <div class="flex justify-between mx-20 my-3">
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-3.html">Return</a>
      </div>
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-5.html">Next</a>
      </div>
    </div>
    <div class="flex pt-10 gap-25 justify-center">
      <img class="w-[1000px] h-[800px]" src="/src/storage/img/page4-1.png" alt="img1">
      <div class="w-[700px]">
        <div class="flex-col justify-between">
          <h1 class="text-5xl font-[Montserrat-Bold] leading-normal">Exploration and <br> inspiration</h1>
          <p class="text-[18px] font-[Montserrat-Regular] pt-9 pb-6" >Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus <br> semper habitant arcu eget. Et integer <br> facilisi eget diam.</p>
          <button class="bg-black text-white px-6 py-1 rounded-lg hover:bg-gray-800 transition-all appearance-none w-35 h-12">
            Explore
          </button>
        </div>
        <div class="flex-col justify-between gap-5 pt-20">
          <div>
            <h1 class="text-3xl text-gray-400 pb-3">01</h1>
            <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget.</p>
          </div>
          <div class="pt-10">
            <h1 class="text-3xl text-gray-400 pt-3 pb-5">02</h1>
            <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

