<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/index.css" />
    <title>Page 2</title>
  </head>
  <body class="p-10 flex-col justify-center items-center">
    <div class="flex justify-between mx-20 my-3">
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-1.html">Return</a>
      </div>
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-3.html">Next</a>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center gap-10 text-left">
      <div class="flex flex-col w-[408px]">
        <h1 class="text-5xl font-[Montserrat-Bold] leading-normal" >Discover the beauty around the world</h1>
        <p class="font-[Montserrat-Regular] pb-5" >Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. <br> Faucibus in libero risus semper <br> habitant arcu.</p>
        <button class="bg-black text-white px-6 py-3 rounded-lg hover:bg-gray-800 transition-all appearance-none w-35 h-12">Get started</button>
      </div>
      <img class="w-[408px] h-[480px] pb-25" src="/src/storage/img/page2-1.png" alt="img1">
      <img class="w-[408px] h-[480px] pt-20" src="/src/storage/img/page2-2.png" alt="img2">
    </div>
    <div class="flex gap-10 pt-20 text-[30px] justify-center text-gray-400">
      <div>
        <h1>01</h1>
        <img class="w-[412px] h-[380px]" src="/src/storage/img/page2-3.png" alt="img3">
      </div>
      <div>
        <h1>02</h1>
        <img class="w-[412px] h-[380px]" src="/src/storage/img/page2-4.png" alt="img4">
      </div>
      <div>
        <h1>03</h1>
        <img class="w-[412px] h-[380px]" src="/src/storage/img/page2-5.png" alt="img5">
      </div>
    </div>
  </body>
</html>
