<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../src/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 1</title>
  </head>
  <body>
    <div class="flex justify-between mx-20 my-3">
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/index.html">Return</a>
      </div>
      <div class=" rounded-full bg-black text-white p-2 w-20 text-center">
        <a href="/landing-pages/src/views/page-2.html">Next</a>
      </div>
    </div>
    <div>
      <div class="justify-center flex flex-col items-center h-100">
        <div class="flex flex-col items-center mt-5">
          <h1 class="text-5xl font-[Montserrat-Bold] text-center leading-normal">Discover the beauty<br> around the world</h1>
          <p class="p-3 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit. Faucibus in libero risus semper habitant arcu<br> eget. Et integer facilisi eget diam.</p>
          <button class="bg-black text-white px-6 py-3 rounded-lg hover:bg-gray-800 transition-all appearance-none w-35 h-12">
            Explore
          </button>
        </div>
      </div>
      <div>
        <div class="justify-center flex flex-col items-center mb-4">
          <div class="grid grid-cols-2 md:grid-cols-4 justify-center mt-5 gap-4" >
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-1.png" alt="img1">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-2.png" alt="img2">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-3.png" alt="img3">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-4.png" alt="img4">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-5.png" alt="img5">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-6.png" alt="img6">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-7.png" alt="img7">
            <img class="w-full h-auto max-w-[150px] md:max-w-[250px] rounded-lg" src="/src/storage/img/page1-8.png" alt="img8">
          </div>
        </div>
      </div>
    </div>
   
  </body>
</html>
