<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/src/index.css">
    <title>Page 11</title>
  </head>
  <body class="flex flex-col justify-center items-center">
    <div class="flex w-full max-w-[1200px] gap-20 my-20">
      <div class="flex flex-col gap-5">
        <h1 class="text-6xl font-[Montserrat-Bold] leading-normal pb-6">New designs <br> New inspirations</h1>
        <p class="font-[Montserrat-Regular] text-[22px] pb-7">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget diam.</p>
        <button class="bg-black text-white px-6 py-1 rounded-full hover:bg-gray-800 transition-all appearance-none w-35 h-15">
          Explore
        </button>
      </div>
      <div class="flex relative">
        <img class="right-0 bottom-1" src="/src/storage/img/page11-1.png" alt="1">
        <img class="top-30 left-[250px] absolute" src="/src/storage/img/page11-2.png" alt="2">
      </div>
    </div>
    <div class="flex justify-center items-center gap-25 px-10 p-8 bg-[#252525] rounded-3xl mt-10">
      <div class="flex flex-col gap-5 p-5 text-white text-left font-[Montserrat-Regular]">
        <img class="w-5" src="/src/storage/img/page11-3.png" alt="cloud1">
        <h1 class="text-3xl">Title 1</h1>
        <p class="text-1xl">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
      </div>
      <div class="flex flex-col gap-5 p-5 text-white text-left font-[Montserrat-Regular]">
        <img class="w-5" src="/src/storage/img/page11-3.png" alt="cloud1">
        <h1 class="text-3xl">Title 1</h1>
        <p class="text-1xl">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
      </div>
      <div class="flex flex-col gap-5 p-5 text-white text-left font-[Montserrat-Regular]">
        <img class="w-5" src="/src/storage/img/page11-3.png" alt="cloud1">
        <h1 class="text-3xl">Title 1</h1>
        <p class="text-1xl">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit.</p>
      </div>
    </div>
  </body>
</html>
