@import "tailwindcss";

@font-face {
    font-family: "Poppins-Regular";
    src: url(./src/storage/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(./src/storage/fonts/Poppins-Bold.ttf);
}